html, body{
    margin: 0;
    padding: 0;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input{
    border: 3px solid black;
    border-radius: 20px;
    padding: 4px 0;
}

.genre{
    display: none;
}

.genre + label{
    display: inline-block;
    cursor: pointer;

    border: 2px solid black;
    border-radius: 8px;

    background-color: white;
}

.genre + label:hover{
    background-color: #ffc0cb;
}

.genre:checked+label{
    background-color: black;
    color: white;
}

ul,li{
    list-style: none;
    
    color: black;
    padding: 0;
}

a{
    text-decoration-line: none;

    color: red;
}

table{
    margin-left: auto;
    margin-right: auto;

    font-size: 24px;
    margin-top: 10vh;
    border: 1px black solid;
    border-spacing: 12px;
}

table *{

}

.blank{
    width: 100vw;
    height: 100vh;

    display: grid;
}

.container{

    display: grid;
    grid-template-rows: 1fr 9fr;
}

.header{
    position: relative;

    background-color: #ffc0cb;
}

#pageTitle{
    text-align: left;

    color: black;
    font-size: 56px;
    margin: 0;
    padding-left: 28px;
}

.body{
    display: grid;
    grid-template-columns: 2fr 5fr;

}

.navbar{
    background-color: whitesmoke;
}

#karaoke_list{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

#karaoke_list .navbar_content{
    position: relative;
    height: 100vh;
    top: 50%;
    transform: translate(0, -25%);

    text-align: center;
}

#searchbox{
    display: none;
    grid-template-columns: 1fr 4fr 1fr;
}

#searchbox form{
    position: relative;
    height: 100vh;
    top: 50%;
    transform: translate(0, -25%);

    text-align: center;
}

.navbar_content{
    position: relative;
    display: inline;
    top: 100px;
}

.searchbtn{
    cursor: pointer;

    display: inline-block;
    position: relative;
    

    width: 90%;

    padding: 20px 0;

    border: 0;
    border-radius: 16px;

    color: white;
    background-color: black;
}

i{
    position: absolute;

    padding: 12px;
    margin: 12px;

    border-radius: 12px;
}

i:hover{
    background-color: #ffc0cb;
    cursor: pointer;
}

.karaoke_label{
    margin: 12px;
    margin-bottom: 28px;

    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

.year_label{
    margin: 12px;

    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.year_label:hover{
    cursor: pointer;
    background-color: #ffc0cb;
}

.year_label *{
    margin: 12px;

    font-size: 16px;
}

.year_list{
    display: none;
}

div{
    overflow: hidden;
}

.searchform{
    height: 100%;
}

.searchform label{
    display: block;
    text-align: left;
    font-size: 24px;

    padding-left: 20px;
    margin: 6px;
}

.searchform input{
    width: 80%;
    font-size: 20px;

    margin: 4px;
    padding: 8px;
}

.searchform p{
    display: inline;
}

.searchform select{
    margin: 4px 0;
    font-size: 20px;
}

select{
    padding: 4px 8px;
    border-radius: 8px;
}

.checkbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.checkbox label{ 
    padding: 8px 0;
    text-align: center;
    font-size: 12px;
}

.chart_content{
    background-color: white;
}

.chart{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;

    text-align: center;

    overflow: scroll;
}

.charttable{
    width: 100%;

    table-layout: fixed;
    word-break: break-all;
}